<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xj.framedemo3">

    <application
        android:name=".ObjApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestEdite"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible"></activity>
        <activity android:name=".testrefuresh.TestOneActivity" />
        <activity
            android:name=".testrefuresh.ScrollingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".testrefuresh.TestTwoActivity" />

        <service android:name=".myInitService" />

        <activity android:name=".LockActivity"
            android:theme="@style/LockScreenBase"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleInstance"
            android:taskAffinity="com.xj.name.lockscreen"
            android:noHistory="true"/>

        <service
            android:name=".service.KeepAliveService"
            android:enabled="true" >
            <intent-filter android:priority="1000" >
                <action android:name="com.service.KeepAliveService" />
            </intent-filter>
        </service>
    </application>

</manifest>